<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>		
	<string>com.apple.dyld</string>
	<key>Program</key>		
	<string>/usr/bin/update_dyld_shared_cache</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.dyld</key>
		<true/>
	</dict>
	<key>Nice</key>
	<integer>10</integer>
	<key>LowPriorityIO</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DYLD_NO_FIX_PREBINDING</key>
		<string>1</string>
	</dict>
</dict>
</plist>
